<!--C# Starts Here-->
@{
    //Insert your own title here(don't change the file name tho)
    ViewData["Title"] = "My Python Projects";
}
<!--C# Ends Here-->

<!--HTML Starts Here-->

<h2>My Python Projects</h2>
<p>Placeholder</p>

<p>Python Projects Go Here </p>
<!--HTML Ends Here-->