<!--C# Starts Here-->
@{
	//Insert your own title here(don't change the file name tho)
	ViewData["Title"] = "My Python Projects";
}
<!--C# Ends Here-->
<!--HTML Starts Here-->

<h2>My Python Projects</h2>
<p>Placeholder</p>

<!--Project Header 1-->
<h2>Insert Project Name Here</h2>
<div>
	<!--Project Description-->
	<p>Insert Project Description Here</p>
	<!--Project Image-->
	<img src="Insert Image Path Here" alt="Insert Image Description Here">
</div>
<!--Project Header 2-->
<h2>Insert Project Name Here</h2>
<div>
	<!--Project Description-->
	<p>Insert Project Description Here</p>
	<!--Project Image-->
	<img src="Insert Image Path Here" alt="Insert Image Description Here">
</div>
<!--Project Header 3-->
<h2>Insert Project Name Here</h2>
<div>
	<!--Project Description-->
	<p>Insert Project Description Here</p>
	<!--Project Image-->
	<img src="Insert Image Path Here" alt="Insert Image Description Here">
</div>
<!--Project Header 4-->
<h2>Insert Project Name Here</h2>
<div>
	<!--Project Description-->
	<p>Insert Project Description Here</p>
	<!--Project Image-->
	<img src="Insert Image Path Here" alt="Insert Image Description Here">
</div>
	<p>Python Projects Go Here </p>
	<!--HTML Ends Here-->
