<!--C# Starts Here-->
@{
    //Insert your own title here(you can change the filename as well) 
    // Just remember to change the other variables to match the new filename 
    ViewData["Title"] = "My Other Projects";
}
<!--C# Ends Here-->
<!--HTML Starts Here-->
<body>
    <!--Project Header 1-->
    <h2>Insert Project Name Here</h2>
    <div>
		<!--Project Description-->
		<p>Insert Project Description Here</p>
		<!--Project Image-->
		<img src="Insert Image Path Here" alt="Insert Image Description Here">
    </div>
    <!--Project Header 2-->
    <h2>Insert Project Name Here</h2>
    <div>
        <!--Project Description-->
        <p>Insert Project Description Here</p>
        <!--Project Image-->
        <img src="Insert Image Path Here" alt="Insert Image Description Here">
    </div>
    <!--Project Header 3-->
    <h2>Insert Project Name Here</h2>
    <div>
		<!--Project Description-->
		<p>Insert Project Description Here</p>
		<!--Project Image-->
		<img src="Insert Image Path Here" alt="Insert Image Description Here">
    </div>
    <!--Project Header 4-->
    <h2>Insert Project Name Here</h2>
    <div>
        <!--Project Description-->
        <p>Insert Project Description Here</p>
        <!--Project Image-->
        <img src="Insert Image Path Here" alt="Insert Image Description Here">
    </div>
</body>

<!--HTML Ends Here-->
