<!--C# Starts Here-->
@{
	//Insert your own Title Here(Don't Change the Filename)
    ViewData["Title"] = "My Portfolio - Home";
}
<!--C# Ends Here-->

<!--HTML Starts Here-->
<div class="text-center">
    <!--Heading-->
    <h1 class="display-4">Welcome to my Portfolio</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--HTML Ends Here-->