<!--C# Starts Here-->
@{
    ///Assigns the Web Page Title to a variable
    ViewData["Title"] = "My Portfolio - Home";
}
<!--C# Ends Here-->

<!--HTML Starts Here-->
<div class="text-center">
    <!--Heading-->
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--HTML Ends Here-->