<!--C# Starts Here-->
@{

    //Insert your own title here(you can change the filename as well)
    // Just remember to change the other variables to match the new filename
    ViewData["Title"] = "Privacy Policy";
}
<!--C# Ends Here-->

<!--HTML Starts Here-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!--HTML Ends Here-->