<!--C# Starts Here-->
@{

	//Insert your own title here(and the file name as well)
    ViewData["Title"] = "Privacy Policy";
}
<!--C# Ends Here-->

<!--HTML Starts Here-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!--HTML Ends Here-->